<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona powitalna</title>
</head>
<body>
    {{>header}}
    <h1>Witam w naszym serwisie!</h1>
    
    {{>footer}}
</body>
</html>